.profile__edit-button {
  height: 24px;
  width: 24px;
  background-color: black;
  margin: 0;
  padding: 0;
  border-style: none;
  background-image: url('../../../images/profileEditButton.svg');
  background-size: cover;
  background-repeat: no-repeat;
}