.profile__info {
  display: flex;
  margin-right: auto;
  flex-wrap: wrap;
  max-width: 336px;
}

@media screen and (max-width: 600px) {
  .profile__info {
    justify-content: center;
    margin: 0;
    max-width: 282px;
  }
}